@import '../base/variables.scss';

.drink-index-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.drink-list {
    display: flex;
    flex-wrap: wrap;    
}

.drink-item {
    margin: 5px;  

}

.drink-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px; 
    position: relative;
    & img {
        width: 350px;
        height: 350px;
    }
}

.name-in {
    position: absolute;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    z-index: 3;;
    pointer-events: none;  
}


.screen-in {
    transition: all 400ms ease-in-out;
    height: 350px;
    width: 350px;
    background-color: rgba(0,0,0,0.5);    
    position: absolute;
    z-index: 2;
    &:hover {
        cursor: pointer;
    }
}

.screen-out {
    transition: all 400ms ease-in-out;
    height: 350px;
    width: 350px;   
    position: absolute;
    z-index: 2;
    &:hover {
        cursor: pointer;
    }
}

.no-results {
    color: $mediumgrey;
}
