@import '../base/variables.scss';

.drink-show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.header-stripe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    height: 100px;
    width: 100%;
    background: $darkgrey;
    color: $mediumgrey;
    margin-bottom: 25px;
}

.show-section {
    width: 50%;
}

.drink-show-img {
    width: 100%;
}

.details-container {
    margin-top: 20px;
}

.detail-section {
    margin-right: 10px;
    margin-bottom: 20px;
}

.section-header {
    color: $mediumgrey;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;    
}

.ingredient-content {
    display: flex;
    flex-direction: column;
}

.content-item {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 100;
    color: $lightgrey;
}

iframe {
    margin-top: 25px;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
