.header-stripe {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    height: 100px;
    background: #1d1d1d;
    color: #999999;
}