/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  media 1500

// media 800
// header-stripe 26px
// section-header 22px
//content-item 16px

@media screen and (max-width: 1500px) {
    .input-label {
        font-size: 170%;
    }

    .header-stripe { 
        font-size: 220%;
    }

    .section-header { 
        font-size: 195%;
    }

    .content-item { 
        font-size: 170%;;
    }

    .search-field {
        font-size: 140%;
    }
}

@media screen and(max-width: 800px) {
    .drink-list {
        flex-direction: column;
        align-items: center;
    }

    .search-field {
        font-size: 170%;
    }

    .input-label {
        font-size: 220%;
    }

    .header-stripe { 
        font-size: 240%;
    }

    .section-header { 
        font-size: 220%;
    }

    .content-item { 
        font-size: 200%;
    }
}